@layout('layout/main')
@set('title', 'Todos page' )

@section('content')
    <div class="container flex flex-col items-center justify-center">

        <h1 class="text-center text-4xl font-bold underline pt-4">Listes des todos</h1>
    
        <ul class="bg-lime-400 py-4 px-4 rounded-xl mt-4">
            <h2 class="text-xl">{{todo.name}}</h2>
        </ul>
    </div>
@end